{{!--
blogposts

Post Title

Date created
--}}
{{#each blogPost as |Post| }}

<div class="card">
    <div class="card-header">
        {{blogPost.title}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{blogPost.user.username}} and {{format_time blogPost.date}}</h5>
        <p class="card-text">{{blogPost.description}}</p>
        <a href="#" class="btn btn-primary">Leave a Comment 💬</a>
    </div>
</div>
{{/each}}