{{!-- 
blogposts

Post Title

 Date created
 --}}

 <div class="card">
  <div class="card-header">
    Featured
    <a>User and Time</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Blog Title</h5>
    <p class="card-text">Description</p>
    <a href="#" class="btn btn-primary">Leave a Comment 💬</a>
  </div>
</div>