<h3 class="card-title">New Blog Post</h3>

<form class="blogPost-form">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Post Title</label>
  <input type="text" class="form-control" id="title" placeholder="Insert Title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
</div>
<div class="col-auto">
  <button id="submit" type="submit" class="btn btn-primary mb-3">Create Post</button>
</div>
</form>

<script src="/js/newBlogPost.js"></script>