{{!-- sign up
User name
Password
sign up button

--}}
<h3 class="card-title">Sign Up</h3>
<form class="signup-form">
  <div class="mb-3 ">
    <label for="exampleFormControlInput1" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-success">Sign up!</button>
<a href="/login">Login Here!</a>
</form>


<script src="/js/signup.js"></script>