<h3 class="card-title">Edit Blog Post</h3>

<div class="mb-3 blogPost-form">
  <label for="exampleFormControlInput1" class="form-label">Post Title</label>
  <textarea class="form-control" id="title" >{{blogpost.title}}</textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
  <textarea class="form-control" id="description" rows="3">{{blogpost.description}}</textarea>
</div>
  <div class="col-auto">
    <button id="submit" type="submit" class="btn btn-primary mb-3">Update Post</button>
  </div>
  <div class="col-auto">
    <button id="delete" type="button" class="btn btn-danger mb-3">Delete Post</button>
  </div>
</form>

